{% extends "layout.html" %}  
{% block title %} {{title}} {% endblock %}


{% block content %}
<h2>Discover the wilderness.</h2>
<p class="lead">Latest images taken. Enjoy! </p>

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for image, date in images %}
        <div class="col">
          <div class="card shadow-sm">
            <img src= "{{ url_for('static', filename=image)}}" class="img-fluid" alt="...">

            <div class="card-body">
              <p class="card-text">This image was taken: {{date}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
</div>
{% endblock %}