{% extends "layout.html" %}  
{% block title %} {{title}} {% endblock %}


{% block content %}
{% for month, image_info in images.items() %}
<p class="lead"> {{month}} </p>
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for image, date in image_info %}
        <div class="col">
          <div class="card shadow-sm">
            <img src= "{{ url_for('static', filename=image)}}" class="img-fluid" alt="...">

            <div class="card-body">
              <p class="card-text">This image was taken: {{date}}</p>
            </div>
          </div>
        </div>
        {% endfor %} 
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}